html{
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos{
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* Hide Scroll bar in chrome */
.app__videos::-webkit-scrollbar {
  display: none;
}

/*  Hide Scrool bar in IE, Edge*/
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}